:root {
    --main-bg-color: #f9aad0;
    --main-bg-color: #ad53a6;
    --main-bg-color: #502779;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;;
    font-family: "Poppins", sans-serif;
}
video {
    width: 80%;
    max-width: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5rem;
    font-weight: 400; /* 600 ou 300 */
    color: #502779;
}


button {
    width: 22.5rem;
    height: 3.75rem;
    border-radius: 1rem;
    background-color: #502779;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
}