:root {
    --main-bg-color: #f9aad0;
    --main-bg-color: #ad53a6;
    --main-bg-color: #502779;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

/* ------------------------------------------------- */
/* CSS POUR LE SWITCH DAY MODE TO NIGHT MODE */
body.day-mode {
    background-color: white;
    color: black;
}

body.night-mode {
    background-color: black;
    color: white;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.mode-switch {
    display: none;
}

.mode-label {
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
}

.mode-label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.mode-switch:checked+.mode-label::after {
    transform: translateX(26px);
}

.mode-off {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    right: 10px;
}

.mode-on {
    left: 10px;
}

.mode-icon {
    width: 24px;
    height: 24px;
}

#icon-sun {
    margin-left: 10px;
    margin-top: 2.5px;
}

#icon-moon {
    margin-right: 10px;
}

/* ------------------------------------------------- */

video {
    width: 80%;
    max-width: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5rem;
    font-weight: 400; /* 600 ou 300 */
    color: #502779;
}


button {
    width: 22.5rem;
    height: 3.75rem;
    border-radius: 1rem;
    background-color: #502779;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
}